In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

file_path = '/home/baris/Desktop/bcgxgenai/Task-1_Data_Extraction_and_Initial_Analysis/10K_Fillings.xlsx'
df = pd.read_excel(file_path)

csv_file_path = '/home/baris/Desktop/bcgxgenai/Task-1_Data_Extraction_and_Initial_Analysis/10K_Fillings.csv'
df.to_csv(csv_file_path, index=False)
df = pd.read_csv(csv_file_path)
df

,Company Name,Fiscal Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities
0,Microsoft,2023,245122,88136,512763,243686,118548
1,Microsoft,2022,211915,72361,411976,205753,87582
2,Microsoft,2021,198270,72738,364840,198298,89035
3,Tesla,2023,96773,14974,106618,43009,13256
4,Tesla,2022,81462,12556,82338,36440,14724
5,Tesla,2021,53823,5519,62131,30548,11497
6,Apple,2023,391035,93736,364980,308030,118254
7,Apple,2022,383285,96995,352583,290437,110543
8,Apple,2021,394328,99803,352755,302083,122151

In [17]:
# Ensure the columns are strings before using .str accessor
df['Total Revenue'] = df['Total Revenue'].astype(str)
df['Net Income'] = df['Net Income'].astype(str)

# Calculate year-over-year growth rates for Total Revenue and Net Income
df['Revenue Growth (%)'] = df.groupby('Company Name')['Total Revenue'].pct_change(fill_method=None) * 100
df['Net Income Growth (%)'] = df.groupby('Company Name')['Net Income'].pct_change(fill_method=None) * 100

# Fill NaN values with 0
df['Revenue Growth (%)'].fillna(0, inplace=True)
df['Net Income Growth (%)'].fillna(0, inplace=True)
print(df)

  Company Name  Fiscal Year  Total Revenue  Net Income  Total Assets  \
0    Microsoft         2023         245122       88136        512763
1    Microsoft         2022         211915       72361        411976
2    Microsoft         2021         198270       72738        364840
3        Tesla         2023          96773       14974        106618
4        Tesla         2022          81462       12556         82338
5        Tesla         2021          53823        5519         62131
6        Apple         2023         391035       93736        364980
7        Apple         2022         383285       96995        352583
8        Apple         2021         394328       99803        352755

   Total Liabilities  Cash Flow from Operating Activities  Revenue Growth (%)  \
0             243686                               118548            0.000000
1             205753                                87582          -13.547132
2             198298                                89035           -6.438902
3              43009                                13256            0.000000
4              36440                                14724          -15.821562
5              30548                                11497          -33.928703
6             308030                               118254            0.000000
7             290437                               110543           -1.981920
8             302083                               122151            2.881146

   Net Income Growth (%)
0               0.000000
1             -17.898475
2               0.520999
3               0.000000
4             -16.147990
5             -56.044919
6               0.000000
7               3.476786
8               2.894995

In [21]:
df['Assets Growth (%)'] = df.groupby('Company Name')['Total Assets'].pct_change() * 100
df['Liabilities Growth (%)'] = df.groupby('Company Name')['Total Liabilities'].pct_change() * 100
df['Cash Flow from Operations Growth(%)'] = df.groupby('Company Name')['Cash Flow from Operating Activities'].pct_change() * 100
df

,Company Name,Fiscal Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow from Operations Growth(%)
0,Microsoft,2023,245122,88136,512763,243686,118548,0.000000,0.000000,NaN,NaN,NaN
1,Microsoft,2022,211915,72361,411976,205753,87582,-13.547132,-17.898475,-19.655669,-15.566344,-26.121065
2,Microsoft,2021,198270,72738,364840,198298,89035,-6.438902,0.520999,-11.441443,-3.623276,1.659017
3,Tesla,2023,96773,14974,106618,43009,13256,0.000000,0.000000,NaN,NaN,NaN
4,Tesla,2022,81462,12556,82338,36440,14724,-15.821562,-16.147990,-22.772890,-15.273547,11.074231
5,Tesla,2021,53823,5519,62131,30548,11497,-33.928703,-56.044919,-24.541524,-16.169045,-21.916599
6,Apple,2023,391035,93736,364980,308030,118254,0.000000,0.000000,NaN,NaN,NaN
7,Apple,2022,383285,96995,352583,290437,110543,-1.981920,3.476786,-3.396624,-5.711457,-6.520710
8,Apple,2021,394328,99803,352755,302083,122151,2.881146,2.894995,0.048783,4.009820,10.500891

In [23]:
df.fillna(0, inplace=True)
df

,Company Name,Fiscal Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow from Operations Growth(%)
0,Microsoft,2023,245122,88136,512763,243686,118548,0.000000,0.000000,0.000000,0.000000,0.000000
1,Microsoft,2022,211915,72361,411976,205753,87582,-13.547132,-17.898475,-19.655669,-15.566344,-26.121065
2,Microsoft,2021,198270,72738,364840,198298,89035,-6.438902,0.520999,-11.441443,-3.623276,1.659017
3,Tesla,2023,96773,14974,106618,43009,13256,0.000000,0.000000,0.000000,0.000000,0.000000
4,Tesla,2022,81462,12556,82338,36440,14724,-15.821562,-16.147990,-22.772890,-15.273547,11.074231
5,Tesla,2021,53823,5519,62131,30548,11497,-33.928703,-56.044919,-24.541524,-16.169045,-21.916599
6,Apple,2023,391035,93736,364980,308030,118254,0.000000,0.000000,0.000000,0.000000,0.000000
7,Apple,2022,383285,96995,352583,290437,110543,-1.981920,3.476786,-3.396624,-5.711457,-6.520710
8,Apple,2021,394328,99803,352755,302083,122151,2.881146,2.894995,0.048783,4.009820,10.500891

In [24]:
df.to_csv("final_data_report.csv")

In [25]:
summary = df.groupby("Company Name").agg({"Revenue Growth (%)": "mean",
    "Net Income Growth (%)": "mean",
    "Assets Growth (%)" : "mean",
    "Liabilities Growth (%)" : "mean",
    "Cash Flow from Operations Growth(%)" :"mean"  }).reset_index()

In [26]:
print("Year by Year Average Growth Rates (%) :-")
print("             OR")
print("Overall Growth/Fall rate for Apple, Microsoft and Tesla for fiscal years 2021 - 2023. ")
summary

Year by Year Average Growth Rates (%) :-
             OR
Overall Growth/Fall rate for Apple, Microsoft and Tesla for fiscal years 2021-2023,2024

,Company Name,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow from Operations Growth(%)
0,Apple,0.299742,2.123927,-1.115947,-0.567212,1.326727
1,Microsoft,-6.662011,-5.792492,-10.365704,-6.396540,-8.154016
2,Tesla,-16.583422,-24.064303,-15.771471,-10.480864,-3.614123

In [27]:
summary.to_csv("Summary_Final_Report.csv")