In [2]:
import pandas as pd
file_path = '/home/baris/Desktop/bcgxgenai/Task-1_Data_Extraction_and_Initial_Analysis/10K_Fillings.xlsx'
df = pd.read_excel(file_path)

In [3]:
# Ensure the columns are strings before using .str accessor
df['Total Revenue'] = df['Total Revenue'].astype(str)
df['Net Income'] = df['Net Income'].astype(str)

# Remove '$' and 'M' characters
df['Total Revenue'] = df['Total Revenue'].str.replace('$', '').str.replace('M', '')
df['Net Income'] = df['Net Income'].str.replace('$', '').str.replace('M', '')

# Ensure the columns are numeric
df['Total Revenue'] = pd.to_numeric(df['Total Revenue'], errors='coerce')
df['Net Income'] = pd.to_numeric(df['Net Income'], errors='coerce')

# Calculate year-over-year growth rates for Total Revenue and Net Income
df['Revenue Growth (%)'] = df.groupby('Company Name')['Total Revenue'].pct_change(fill_method=None) * 100
df['Net Income Growth (%)'] = df.groupby('Company Name')['Net Income'].pct_change(fill_method=None) * 100

df['Revenue Growth (%)'].fillna(0, inplace=True)
df['Net Income Growth (%)'].fillna(0, inplace=True)
print(df)

  Company Name  Fiscal Year  Total Revenue  Net Income Total Assets  \
0    Microsoft         2023         245122       88136     $512763M
1    Microsoft         2022         211915       72361     $411976M
2    Microsoft         2021         198270       72738     $364840M
3        Tesla         2023          96773       14974     $106618M
4        Tesla         2022          81462       12556      $82338M
5        Tesla         2021          53823        5519      $62131M
6        Apple         2023         391035       93736     $364980M
7        Apple         2022         383285       96995     $352583M
8        Apple         2021         394328       99803     $352755M

  Total Liabilities Cash Flow from Operating Activities  Revenue Growth (%)  \
0          $243686M                            $118548M            0.000000
1          $205753M                             $87582M          -13.547132
2          $198298M                             $89035M           -6.438902
3           $43009M                             $13256M            0.000000
4           $36440M                             $14724M          -15.821562
5           $30548M                             $11497M          -33.928703
6          $308030M                            $118254M            0.000000
7          $290437M                            $110543M           -1.981920
8          $302083M                            $122151M            2.881146

   Net Income Growth (%)
0               0.000000
1             -17.898475
2               0.520999
3               0.000000
4             -16.147990
5             -56.044919
6               0.000000
7               3.476786
8               2.894995

In [4]:
df.head()

,Company Name,Fiscal Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%)
0,Microsoft,2023,245122,88136,$512763M,$243686M,$118548M,0.000000,0.000000
1,Microsoft,2022,211915,72361,$411976M,$205753M,$87582M,-13.547132,-17.898475
2,Microsoft,2021,198270,72738,$364840M,$198298M,$89035M,-6.438902,0.520999
3,Tesla,2023,96773,14974,$106618M,$43009M,$13256M,0.000000,0.000000
4,Tesla,2022,81462,12556,$82338M,$36440M,$14724M,-15.821562,-16.147990

In [8]:
df.tail(6)

,Company Name,Fiscal Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%)
3,Tesla,2023,96773,14974,$106618M,$43009M,$13256M,0.000000,0.000000
4,Tesla,2022,81462,12556,$82338M,$36440M,$14724M,-15.821562,-16.147990
5,Tesla,2021,53823,5519,$62131M,$30548M,$11497M,-33.928703,-56.044919
6,Apple,2023,391035,93736,$364980M,$308030M,$118254M,0.000000,0.000000
7,Apple,2022,383285,96995,$352583M,$290437M,$110543M,-1.981920,3.476786
8,Apple,2021,394328,99803,$352755M,$302083M,$122151M,2.881146,2.894995