In [25]:
import pandas as pd
file_path = '/home/baris/Desktop/bcgxgenai/Task-1_Data_Extraction_and_Initial_Analysis/10K_Fillings.xlsx'
df = pd.read_excel(file_path)

In [26]:
# Calculate year-over-year growth rates for Total Revenue and Net Income
df['Revenue Growth (%)'] = df.groupby('Company Name')['Total Revenue'].pct_change(fill_method=None) * 100
df['Net Income Growth (%)'] = df.groupby('Company Name')['Net Income'].pct_change(fill_method=None) * 100

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [27]:
df.head(10)

,Company Name,Fiscal Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities
0,Microsoft,2023,$245122M,$88136M,$512763M,$243686M,$118548M
1,Microsoft,2022,$211915M,$72361M,$411976M,$205753M,$87582M
2,Microsoft,2021,$198270M,$72738M,$364840M,$198298M,$89035M
3,Tesla,2023,$96773M,$14974M,$106618M,$43009M,$13256M
4,Tesla,2022,$81462M,$12556M,$82338M,$36440M,$14724M
5,Tesla,2021,$53823M,$5519M,$62131M,$30548M,$11497M
6,Apple,2023,$391035M,$93736M,$364980M,$308030M,$118254M
7,Apple,2022,$383285M,$96995M,$352583M,$290437M,$110543M
8,Apple,2021,$394328M,$99803M,$352755M,$302083M,$122151M